<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="FirstTemplate.html">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment = "FirstContent">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">Liste des patients</div>
            <div class="card-body">
                <form method="get" th:action="@{/user/index}">
                    <label>Keyword</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Nom complet</th>
                        <th>Date</th>
                        <th>Malade</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "p:${ListPatients}">
                        <td th:text = "${p.id}"></td>
                        <td th:text = "${p.nom}"></td>
                        <td th:text = "${p.dateNaissance}"></td>
                        <td th:text = "${p.malade}"></td>
                        <td th:text = "${p.score}"></td>
                        <td th:if = "${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger" th:href="@{/admin/deletePatient(id=${p.id}, keyword=${keyword}, page=${currentPage})}">Delete</a>
                            <a class="btn btn-success" th:href="@{/admin/editPatient(id=${p.id})}">Modifier</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index == currentPage ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/user/index(page = ${status.index}, keyword = ${keyword})}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>